
<h2>Register</h2>
<form method="POST" action="/register">
  <% if (error.length > 0) { %><p class="text-danger"><%= error %></p><% } %>
  <input name="name" type="text" placeholder="Full Name" required class="form-control mb-2">
  <input name="email" type="email" placeholder="Email" required class="form-control mb-2">
  <input name="password" type="password" placeholder="Password" required class="form-control mb-2">
  <button class="btn btn-success">Register</button>
</form>
