<!DOCTYPE html>
<html>
  <head>
    <title>UniReg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to UniReg</h1>
    <p>Your university registration system is live!</p>
  </body>
</html>
