<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container text-center mt-5">
    <h1><%= title %></h1>
    <p>Landing page</p>
  </div>
</body>
</html>
