<h2 class="mb-4">My Enrollments</h2>
<div class="card shadow-sm p-4">
  <% if (subjects.length > 0) { %>
    <ul class="list-group">
      <% subjects.forEach(sub => { %>
        <li class="list-group-item d-flex justify-content-between">
          <%= sub.code %> - <%= sub.name %>
          <form action="/student/enroll/<%= sub._id %>" method="POST">
            <button type="submit" class="btn btn-sm btn-success">Enroll</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No available subjects at this time.</p>
  <% } %>
</div>